body {
    /* @todo отступ сверху нужен для размещения тулбара, НО при узком окне (мобильная версия), тулбар тоже отступает сверху :( надо как-то починить ;) */
    padding-top: 60px;
    margin: 0px auto;
    max-width: 1200px;
}

.cmf-frontadmin-node, .node-edit {
  position: relative;
}
.overlay.btn-group {
position: absolute;
top: -10px;
left: 0;
z-index: 999;
}
.cmf-frontadmin-node:hover {
    outline: 1px dashed red;
}
