#sc-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
	left: 0;
	top: 0;
	overflow: auto;
}

#sc-overlay-screen {
	background-color: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	opacity: 0.6;
	left: 0;
	top: 0;
}

#sc-overlay-window {
	position: relative;
	z-index: 1002;
	background-color: #fff;
	padding: 10px;
	margin: 80px auto 100px auto;
	width: 950px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.BodyOverlayed {
	position: relative;
	overflow: hidden;
}
