<div class="overlay btn-group">
    <!--<a class="btn" href="#"><i class="icon-plus"></i></a>-->
    <button title="Редактировать текстовый блок" class="btn popup-trigger">Редактировать</button>
    <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="popup-trigger" title="Редактировать текстовый блок" href="#"><strong>Редактировать</strong></a></li>
      <li class="divider"></li>
      <li><a class="popup-trigger" href="#">Свойства ноды</a></li>
    </ul>
</div>